<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee">
	
    <!-- Servlets -->
	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.ImageUpload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>adminServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>imageServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.servlet.ImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>cityServiceServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.service.CityServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>regionServiceServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.service.RegionServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>streetServiceServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.service.StreetServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>insuranceServiceServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.service.InsuranceServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>specialityServiceServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.service.SpecialityServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>commonServiceServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.service.CommonServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>institutionServiceServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.service.InstitutionServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>doctorServiceServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.service.DoctorServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>serviceServiceServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.service.ServiceServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>serviceTypeServiceServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.service.ServiceTypeServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>masterCodeServiceServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.service.MasterCodeServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>suggestServiceServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.service.SuggestServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>galleryServiceServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.service.GalleryServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>branchServiceServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.service.BranchServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>scheduleServiceServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.service.ScheduleServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>commentServiceServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.service.CommentServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>likeServiceServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.service.LikeServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>oAuthLoginServiceServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.service.OAuthLoginServiceImpl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>statisticServiceServlet</servlet-name>
		<servlet-class>com.infoklinik.rsvp.server.service.StatisticServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>oAuthLoginJsp</servlet-name>
		<jsp-file>/OAuthLogin.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>oAuthLoginVerifiedJsp</servlet-name>
		<jsp-file>/OAuthLoginVerified.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>*.gupld</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>adminServlet</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>imageServlet</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>doctorServiceServlet</servlet-name>
		<url-pattern>/rsvp/doctorService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>institutionServiceServlet</servlet-name>
		<url-pattern>/rsvp/institutionService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>serviceServiceServlet</servlet-name>
		<url-pattern>/rsvp/serviceService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>insuranceServiceServlet</servlet-name>
		<url-pattern>/rsvp/insuranceService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>specialityServiceServlet</servlet-name>
		<url-pattern>/rsvp/specialityService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cityServiceServlet</servlet-name>
		<url-pattern>/rsvp/cityService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>regionServiceServlet</servlet-name>
		<url-pattern>/rsvp/regionService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>streetServiceServlet</servlet-name>
		<url-pattern>/rsvp/streetService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>commonServiceServlet</servlet-name>
		<url-pattern>/rsvp/commonService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>serviceTypeServiceServlet</servlet-name>
		<url-pattern>/rsvp/serviceTypeService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>masterCodeServiceServlet</servlet-name>
		<url-pattern>/rsvp/masterCodeService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>suggestServiceServlet</servlet-name>
		<url-pattern>/rsvp/suggestService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>galleryServiceServlet</servlet-name>
		<url-pattern>/rsvp/galleryService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>branchServiceServlet</servlet-name>
		<url-pattern>/rsvp/branchService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>scheduleServiceServlet</servlet-name>
		<url-pattern>/rsvp/scheduleService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>commentServiceServlet</servlet-name>
		<url-pattern>/rsvp/commentService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>likeServiceServlet</servlet-name>
		<url-pattern>/rsvp/likeService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>statisticServiceServlet</servlet-name>
		<url-pattern>/rsvp/statisticService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>oAuthLoginServiceServlet</servlet-name>
		<url-pattern>/rsvp/oAuthLoginService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>oAuthLoginServiceServlet</servlet-name>
		<url-pattern>/verifyCredential</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>oAuthLoginJsp</servlet-name>
		<url-pattern>/oAuthLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>oAuthLoginVerifiedJsp</servlet-name>
		<url-pattern>/oAuthLoginVerified</url-pattern>
	</servlet-mapping>
	
	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Rsvp.html</welcome-file>
	</welcome-file-list>
	
	<context-param>
		<!-- max size of the upload request -->
		<param-name>maxSize</param-name>
		<param-value>3145728</param-value>
	</context-param>
	<context-param>
		<!-- Useful in development mode to slow down the uploads in fast networks. 
			Put the number of milliseconds to sleep in each block received in the server. 
			false or 0, means don't use slow uploads -->
		<param-name>slowUploads</param-name>
		<param-value>0</param-value>
	</context-param>
	
</web-app>
