<div id="content" style="overflow: auto; width: 602px; border: 0px solid #555;">
	<div id="logo" style="float: left; width: 500px; border: 1px solid #555; background: #344257; padding: 3px 10px 3px 20px; font: bold 24px 'Trebuchet MS', Arial, Sans-serif; color: #DDD; -moz-border-top-left-radius: 15px; -webkit-border-top-left-radius: 15px; border-top-left-radius: 15px;">
		<div style="float: left;">info</div>
		<div style="float: left; color: #80AAE8;">klinik</div>
	</div>
	<div id="message" style="float: left; width: 500px; border-left: 1px solid #555; border-right: 1px solid #555; padding: 25px 10px 25px 20px; font: bold 11px Tahoma; color: #444;">
		Terima kasih, anda telah melaksanakan registrasi.
		<div style="padding: 10px 0px 10px 0px; width: 500px; border: 0px solid #CCC; overflow: auto;">
			<div style="float: left; width:100px; line-height: 16px;">Kode Voucher :</div><div style="float: left; width:350px; line-height: 16px;">$voucher</div>
			<div style="float: left; width:100px; line-height: 16px;">Layanan :</div><div style="float: left; width:350px; line-height: 16px;">$service</div>
			<div style="float: left; width:100px; line-height: 16px;">Lokasi :</div><div style="float: left; width:350px; line-height: 16px;">$institution</div>
			<div style="float: left; width:100px; line-height: 16px;">Telepon :</div><div style="float: left; width:350px; line-height: 16px;">$telephone</div>
			<div style="float: left; width:100px; line-height: 16px;">Alamat :</div><div style="float: left; width:350px; line-height: 16px;">$address</div>
		</div>
		Silahkan hubungi nomer telepon yang tercantum di atas untuk mendapatkan informasi lebih lanjut / melaksanakan reservasi layanan.
	</div>
	<div id="logo" style="float: left; width: 500px; border: 1px solid #555; background: #344257; padding: 5px 10px 7px 20px; font: bold 12px Tahoma; font-style: normal; color: #EEE; -moz-border-bottom-right-radius: 15px; -webkit-border-bottom-right-radius: 15px; border-bottom-right-radius: 15px;">
		www.infoklinik.com
	</div>
</div>